#principal{
    width: 60%;
    margin: 0 auto;
    max-width: 300 px;
    margin-top: 50px;
}

.botonForm{
    border-radius: 30px ;
}

#boton1{
   background-color:blueviolet; 
   color:white;
}

#boton2{
    background-color:rgb(226, 43, 52); 
    color:white;
 }